/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

/* Variables */
:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  /* Font family */
  --ff-manrope: "Manrope", sans-serif, system-ui;

  /* Font size */
  --fs-xxl: 1.875rem; /* 36px */
  --fs-xl: 1.5rem; /* 24px */
  --fs-lg: 1.25rem; /* 20px */
  --fs-med: 1.125rem; /* 18px */
  --fs-reg: 1rem; /* 16px */
  --fs-body-copy: 0.813rem; /* 13px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-xsm: 0.625rem; /* 10px */

  /* Font weights */
  --fw-med: 500;
  --fw-bold: 700;

  /* Spacings */
  --spacing-xl: 4rem;
  --spacing-lg: 2rem;
  --spacing-med: 1.25rem;
  --spacing-reg: 1rem;
  --spacing-sm: 0.875rem;
  --spacing-xsm: 0.625rem;

  /* Border radius' */
  --border-radius-sm: 0.875rem;
  --border-radius-xsm: 0.625rem;
}

html {
  font-family: var(--ff-manrope);
  font-size: clamp(var(--fs-body-copy), 5vw, var(--fs-reg));
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--spacing-reg);
  background-color: var(--light-grayish-blue);
  color: var(--very-dark-grayish-blue);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--very-dark-grayish-blue);
}

a:hover {
  color: var(--grayish-blue);
}

.container {
  display: flex;
  height: fit-content;
  width: 90rem;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}

.card {
  display: flex;
  background-color: white;
  border-radius: var(--border-radius-sm);
  position: relative;
  max-width: 50rem;
  min-height: 20rem;
  transition: all 0.3s ease-out;
}

.card_img {
  min-width: 17.813rem;
  border-radius: 10px 0 0 10px;
  background-image: url(../images/drawers.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.card_title {
  font-size: clamp(var(--fs-med), 3vw, var(--fs-xl));
  font-weight: var(--fw-bold);
  padding: var(--spacing-lg) 0 var(--spacing-xsm) 0;
}
.card_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-lg) 0 var(--spacing-lg);
}

.card_text {
  color: var(--desaturated-dark-blue);
  font-size: clamp(var(--fs-sm), 3vw, var(--fs-reg));
  padding: 0 0 var(--spacing-reg) 0;
}

.card_avatar {
  display: flex;
  align-items: center;
  padding: 0 0 3.5rem 0;
  position: relative;
  top: 0.938rem;
}

.card_avatar_img {
  border-radius: 50%;
  width: clamp(3.5rem, 4vw, 4.375rem);
  height: clamp(3.5rem, 4vw, 4.375rem);
}

.card_avatar_name span {
  color: var(--grayish-blue);
  font-size: var(--fs-sm);
  position: relative;
  left: var(--spacing-xsm);
}

.card_avatar_name p {
  font-weight: var(--fw-bold);
  position: relative;
  left: var(--spacing-xsm);
}

.social_share {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(210, 46%, 95%);
  width: clamp(2.5rem, 4vw, 3rem);
  height: clamp(2.5rem, 4vw, 3rem);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin-left: auto;
}

.social_share:hover {
  background-color: hsl(217, 19%, 35%);
  color: white;
}

.social_share_icons {
  display: none;
  align-items: center;
  position: absolute;
  top: -3.75rem;
  background-color: var(--very-dark-grayish-blue);
  color: white;
  padding: var(--spacing-med);
  border-radius: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 0.188rem;
  width: 14.125rem;
  height: 3.15rem;
}

.social_share_icons::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.625rem;
  border-width: var(--border-radius-xsm);
  border-style: solid;
  border-color: var(--very-dark-grayish-blue) transparent transparent
    transparent;
}

.social_share_icons i.bx {
  transition: transform 0.5s ease;
}

.social_share_icons i.bx:hover {
  color: var(--light-grayish-blue);
  transform: translateY(-0.375rem);
  cursor: pointer;
}

.social_share_icons > span {
  color: var(--grayish-blue);
}

.social_share:hover .social_share_icons {
  display: flex;
}

.social_share_icons i {
  margin: 0.313rem 0.313rem;
  transition: transform 0.5s ease;
}

.social_share_icons i:hover {
  transform: translateY(-0.188rem);
}

.bx {
  font-size: clamp(var(--fs-xl), 2vw, var(--fs-xxl));
}

.author {
  font-size: clamp(var(--fs-xsm), 3vw, var(--fs-sm));
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
  }

  .card {
    flex-direction: column;
    max-width: 90vw;
    position: relative;
  }

  .card_img {
    min-width: 100%;
    height: clamp(21.25rem, 25vw, 41.25rem);
    flex-shrink: 1;
    border-radius: var(--border-radius-xsm) var(--border-radius-xsm) 0 0;
  }

  .card_content {
    padding: 0;
  }

  .card_title,
  .card_text {
    padding: var(--spacing-sm) var(--spacing-lg) 0 var(--spacing-lg);
  }

  .card_avatar {
    padding: 0 0 var(--spacing-lg) 0;
  }

  .card_avatar_img {
    position: relative;
    left: var(--spacing-lg);
  }

  .card_avatar_name span,
  .card_avatar_name p {
    position: relative;
    left: 2.55rem;
  }

  .social_share {
    margin-right: var(--spacing-lg);
    z-index: 2;
  }

  .social_share_icons {
    width: 100%;
    min-height: 5rem;
    padding: 0 1.8rem;
    position: absolute;
    border-radius: 0 0 var(--border-radius-xsm) var(--border-radius-xsm);
    top: auto;
    right: 0;
    bottom: 0.725rem;
    left: 0;
  }

  .social_share_icons::after {
    display: none;
  }
}
